# Instalar los componentes para leer desde Excel.

In [1]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\juanp\miniconda3\envs\myenv\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\juanp\miniconda3\envs\myenv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\juanp\miniconda3\envs\myenv\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

# Leer archivos de Excel - Class

In [4]:
df_class = pd.read_excel('C:\\ricardo_hernandez\\CLASS.xlsx')

Cambiar de nombre a las columnas

In [5]:
df_class.rename( columns = { "Economy": "economy",  "Code": "iso3", "Region":"region", "Income group": "income_group", "Lending category": "lending_category"}, inplace=True)

In [6]:
display(df_class)

,economy,iso3,region,income_group,lending_category
0,Aruba,ABW,Latin America & Caribbean,High income,NaN
1,Afghanistan,AFG,South Asia,Low income,IDA
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD
3,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD
4,Andorra,AND,Europe & Central Asia,High income,NaN
...,...,...,...,...,...
262,Sub-Saharan Africa,SSF,NaN,NaN,NaN
263,Sub-Saharan Africa (excluding high income),SSA,NaN,NaN,NaN
264,Sub-Saharan Africa (IDA & IBRD),TSS,NaN,NaN,NaN
265,Upper middle income,UMC,NaN,NaN,NaN
266,World,WLD,NaN,NaN,NaN

# Leer archivos de Excel - Codigo Telefono

In [7]:
df_codigo_telefono = pd.read_excel('C:\\ricardo_hernandez\\codigo_telefono.xlsx')

In [8]:
df_codigo_telefono['nombre'] = df_codigo_telefono['nombre'].str.replace('"','')
df_codigo_telefono['name'] = df_codigo_telefono['name'].str.replace('"','')
df_codigo_telefono['nom'] = df_codigo_telefono['nom'].str.replace('"','')
df_codigo_telefono['iso2'] = df_codigo_telefono['iso2'].str.replace('"','')
df_codigo_telefono['iso3'] = df_codigo_telefono['iso3'].str.replace('"','')
df_codigo_telefono['phone_code'] = df_codigo_telefono['phone_code'].str.replace('"','')

In [9]:
df_codigo_telefono.rename( columns = { "nombre": "nom_esp",  "name": "nom_ingles", "nom":"nom_otro", "iso2": "iso2", "iso3": "iso3", "phone_code":"phone_code"}, inplace=True)

In [10]:
display(df_codigo_telefono)

             nom_esp         nom_ingles          nom_otro iso2 iso3 phone_code
0         AfganistÃ¡n        Afghanistan       Afghanistan   AF  AFG         93
1            Albania            Albania           Albanie   AL  ALB        355
2           Alemania            Germany         Allemagne   DE  DEU         49
3            Algeria            Algeria           AlgÃ©rie   DZ  DZA        213
4            Andorra            Andorra           Andorra   AD  AND        376
..               ...                ...               ...  ...  ...        ...
241  Wallis y Futuna  Wallis and Futuna  Wallis et Futuna   WF  WLF        681
242            Yemen              Yemen             YÃ©men   YE  YEM        967
243           Yibuti           Djibouti          Djibouti   DJ  DJI        253
244           Zambia             Zambia            Zambie   ZM  ZMB        260
245         Zimbabue           Zimbabwe          Zimbabwe   ZW  ZWE        263

[246 rows x 6 columns]

# Leer archivos de Excel - country_isos

In [11]:
df_country_isos = pd.read_excel('C:\\ricardo_hernandez\\country_isos.xlsx')

In [12]:
df_country_isos.rename( columns = { "Country": "country",  "Officialstatename": "official_state_name", "InternetccTLD":"internet_cc_TLD", "iso2": "iso2", "iso3": "iso3"}, inplace=True)

In [13]:
display(df_country_isos)

,country,official_state_name,internet_cc_TLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

# Leer archivos de Excel - poblacion

In [30]:
df_poblacion = pd.read_excel('C:\\ricardo_hernandez\\poblacion.xls')

In [31]:
display(df_poblacion)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"PoblaciÃ³n, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,NaN,AFE,"PoblaciÃ³n, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0
2,AfganistÃ¡n,AFG,"PoblaciÃ³n, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
3,NaN,AFW,"PoblaciÃ³n, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
4,Angola,AGO,"PoblaciÃ³n, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"PoblaciÃ³n, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1761985.0
262,"Yemen, Rep. del",YEM,"PoblaciÃ³n, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0
263,SudÃ¡frica,ZAF,"PoblaciÃ³n, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0
264,Zambia,ZMB,"PoblaciÃ³n, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0
265,Zimbabwe,ZWE,"PoblaciÃ³n, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0

In [32]:
df_poblacion = df_poblacion[["Country Name","Country Code","Indicator Name","2022"]]

In [33]:
df_poblacion.rename( columns = { "Country Name": "country_name",  "Country Code": "iso3", "Indicator Name":"indicator_name", "2022": "2022"}, inplace=True)
display(df_poblacion)

        country_name iso3    indicator_name         2022
0              Aruba  ABW  PoblaciÃ³n, total     106445.0
1                NaN  AFE  PoblaciÃ³n, total  720839314.0
2         AfganistÃ¡n  AFG  PoblaciÃ³n, total   41128771.0
3                NaN  AFW  PoblaciÃ³n, total  490330870.0
4             Angola  AGO  PoblaciÃ³n, total   35588987.0
..               ...  ...               ...          ...
261           Kosovo  XKX  PoblaciÃ³n, total    1761985.0
262  Yemen, Rep. del  YEM  PoblaciÃ³n, total   33696614.0
263        SudÃ¡frica  ZAF  PoblaciÃ³n, total   59893885.0
264           Zambia  ZMB  PoblaciÃ³n, total   20017675.0
265         Zimbabwe  ZWE  PoblaciÃ³n, total   16320537.0

[266 rows x 4 columns]

# Unir tablas en base en country iso con el dataframe class

In [16]:
result = pd.merge(df_country_isos, df_class, on=["iso3"])

In [17]:
display(result)

,country,official_state_name,internet_cc_TLD,iso2,iso3,economy,region,income_group,lending_category
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG,Afghanistan,South Asia,Low income,IDA
1,ALBANIA,The Republic of Albania,.al,AL,ALB,Albania,Europe & Central Asia,Upper middle income,IBRD
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA,Algeria,Middle East & North Africa,Lower middle income,IBRD
3,ANGOLA,The Republic of Angola,.ao,AO,AGO,Angola,Sub-Saharan Africa,Lower middle income,IBRD
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG,Antigua and Barbuda,Latin America & Caribbean,High income,IBRD
...,...,...,...,...,...,...,...,...,...
165,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB,Uzbekistan,Europe & Central Asia,Lower middle income,Blend
166,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM,Vietnam,East Asia & Pacific,Lower middle income,IBRD
167,YEMEN,The Republic of Yemen,.ye,YE,YEM,"Yemen, Rep.",Middle East & North Africa,Low income,IDA
168,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB,Zambia,Sub-Saharan Africa,Lower middle income,IDA
169,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE,Zimbabwe,Sub-Saharan Africa,Lower middle income,Blend

In [18]:
result_country_iso_class = result[["country","iso3","iso2","region", "income_group", "lending_category", "official_state_name", "internet_cc_TLD"]]
display(result_country_iso_class)

,country,iso3,iso2,region,income_group,lending_category,official_state_name,internet_cc_TLD
0,AFGHANISTAN,AFG,AF,South Asia,Low income,IDA,The Islamic Republic of Afghanistan,.af
1,ALBANIA,ALB,AL,Europe & Central Asia,Upper middle income,IBRD,The Republic of Albania,.al
2,ALGERIA,DZA,DZ,Middle East & North Africa,Lower middle income,IBRD,The People's Democratic Republic of Algeria,.dz
3,ANGOLA,AGO,AO,Sub-Saharan Africa,Lower middle income,IBRD,The Republic of Angola,.ao
4,ANTIGUA AND BARBUDA,ATG,AG,Latin America & Caribbean,High income,IBRD,Antigua and Barbuda,.ag
...,...,...,...,...,...,...,...,...
165,UZBEKISTAN,UZB,UZ,Europe & Central Asia,Lower middle income,Blend,The Republic of Uzbekistan,.uz
166,VIET NAM,VNM,VN,East Asia & Pacific,Lower middle income,IBRD,The Socialist Republic of Viet Nam,.vn
167,YEMEN,YEM,YE,Middle East & North Africa,Low income,IDA,The Republic of Yemen,.ye
168,ZAMBIA,ZMB,ZM,Sub-Saharan Africa,Lower middle income,IDA,The Republic of Zambia,.zm
169,ZIMBABWE,ZWE,ZW,Sub-Saharan Africa,Lower middle income,Blend,The Republic of Zimbabwe,.zw

# Unir tablas del resultado anterior con df_codigo_telefono

In [22]:
result_2 = pd.merge(result_country_iso_class, df_codigo_telefono, on=["iso3"])

In [23]:
display(result_2)

,country,iso3,iso2_x,region,income_group,lending_category,official_state_name,internet_cc_TLD,nom_esp,nom_ingles,nom_otro,iso2_y,phone_code
0,AFGHANISTAN,AFG,AF,South Asia,Low income,IDA,The Islamic Republic of Afghanistan,.af,AfganistÃ¡n,Afghanistan,Afghanistan,AF,93
1,ALBANIA,ALB,AL,Europe & Central Asia,Upper middle income,IBRD,The Republic of Albania,.al,Albania,Albania,Albanie,AL,355
2,ALGERIA,DZA,DZ,Middle East & North Africa,Lower middle income,IBRD,The People's Democratic Republic of Algeria,.dz,Algeria,Algeria,AlgÃ©rie,DZ,213
3,ANGOLA,AGO,AO,Sub-Saharan Africa,Lower middle income,IBRD,The Republic of Angola,.ao,Angola,Angola,Angola,AO,244
4,ANTIGUA AND BARBUDA,ATG,AG,Latin America & Caribbean,High income,IBRD,Antigua and Barbuda,.ag,Antigua y Barbuda,Antigua and Barbuda,Antigua et Barbuda,AG,1 268
...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,UZBEKISTAN,UZB,UZ,Europe & Central Asia,Lower middle income,Blend,The Republic of Uzbekistan,.uz,UzbekistÃ¡n,Uzbekistan,L'OuzbÃ©kistan,UZ,998
165,VIET NAM,VNM,VN,East Asia & Pacific,Lower middle income,IBRD,The Socialist Republic of Viet Nam,.vn,Vietnam,Vietnam,Vietnam,VN,84
166,YEMEN,YEM,YE,Middle East & North Africa,Low income,IDA,The Republic of Yemen,.ye,Yemen,Yemen,YÃ©men,YE,967
167,ZAMBIA,ZMB,ZM,Sub-Saharan Africa,Lower middle income,IDA,The Republic of Zambia,.zm,Zambia,Zambia,Zambie,ZM,260
168,ZIMBABWE,ZWE,ZW,Sub-Saharan Africa,Lower middle income,Blend,The Republic of Zimbabwe,.zw,Zimbabue,Zimbabwe,Zimbabwe,ZW,263

In [25]:
result_cod_tel = result_2[["country","iso3","iso2_x","region", "income_group", "lending_category", "official_state_name", "internet_cc_TLD", "phone_code"]]
display(result_cod_tel)

,country,iso3,iso2_x,region,income_group,lending_category,official_state_name,internet_cc_TLD,phone_code
0,AFGHANISTAN,AFG,AF,South Asia,Low income,IDA,The Islamic Republic of Afghanistan,.af,93
1,ALBANIA,ALB,AL,Europe & Central Asia,Upper middle income,IBRD,The Republic of Albania,.al,355
2,ALGERIA,DZA,DZ,Middle East & North Africa,Lower middle income,IBRD,The People's Democratic Republic of Algeria,.dz,213
3,ANGOLA,AGO,AO,Sub-Saharan Africa,Lower middle income,IBRD,The Republic of Angola,.ao,244
4,ANTIGUA AND BARBUDA,ATG,AG,Latin America & Caribbean,High income,IBRD,Antigua and Barbuda,.ag,1 268
...,...,...,...,...,...,...,...,...,...
164,UZBEKISTAN,UZB,UZ,Europe & Central Asia,Lower middle income,Blend,The Republic of Uzbekistan,.uz,998
165,VIET NAM,VNM,VN,East Asia & Pacific,Lower middle income,IBRD,The Socialist Republic of Viet Nam,.vn,84
166,YEMEN,YEM,YE,Middle East & North Africa,Low income,IDA,The Republic of Yemen,.ye,967
167,ZAMBIA,ZMB,ZM,Sub-Saharan Africa,Lower middle income,IDA,The Republic of Zambia,.zm,260
168,ZIMBABWE,ZWE,ZW,Sub-Saharan Africa,Lower middle income,Blend,The Republic of Zimbabwe,.zw,263

# Unir el dataframe anterior con el dataframe poblacion

In [34]:
result_3 = pd.merge(result_cod_tel, df_poblacion, on=["iso3"])

In [35]:
display(result_3)

,country,iso3,iso2_x,region,income_group,lending_category,official_state_name,internet_cc_TLD,phone_code,country_name,indicator_name,2022
0,AFGHANISTAN,AFG,AF,South Asia,Low income,IDA,The Islamic Republic of Afghanistan,.af,93,AfganistÃ¡n,"PoblaciÃ³n, total",41128771.0
1,ALBANIA,ALB,AL,Europe & Central Asia,Upper middle income,IBRD,The Republic of Albania,.al,355,Albania,"PoblaciÃ³n, total",2775634.0
2,ALGERIA,DZA,DZ,Middle East & North Africa,Lower middle income,IBRD,The People's Democratic Republic of Algeria,.dz,213,Argelia,"PoblaciÃ³n, total",44903225.0
3,ANGOLA,AGO,AO,Sub-Saharan Africa,Lower middle income,IBRD,The Republic of Angola,.ao,244,Angola,"PoblaciÃ³n, total",35588987.0
4,ANTIGUA AND BARBUDA,ATG,AG,Latin America & Caribbean,High income,IBRD,Antigua and Barbuda,.ag,1 268,Antigua y Barbuda,"PoblaciÃ³n, total",93763.0
...,...,...,...,...,...,...,...,...,...,...,...,...
164,UZBEKISTAN,UZB,UZ,Europe & Central Asia,Lower middle income,Blend,The Republic of Uzbekistan,.uz,998,UzbekistÃ¡n,"PoblaciÃ³n, total",35648100.0
165,VIET NAM,VNM,VN,East Asia & Pacific,Lower middle income,IBRD,The Socialist Republic of Viet Nam,.vn,84,Viet Nam,"PoblaciÃ³n, total",98186856.0
166,YEMEN,YEM,YE,Middle East & North Africa,Low income,IDA,The Republic of Yemen,.ye,967,"Yemen, Rep. del","PoblaciÃ³n, total",33696614.0
167,ZAMBIA,ZMB,ZM,Sub-Saharan Africa,Lower middle income,IDA,The Republic of Zambia,.zm,260,Zambia,"PoblaciÃ³n, total",20017675.0
168,ZIMBABWE,ZWE,ZW,Sub-Saharan Africa,Lower middle income,Blend,The Republic of Zimbabwe,.zw,263,Zimbabwe,"PoblaciÃ³n, total",16320537.0

In [37]:
result_final = result_3[["country","iso3","iso2_x","region", "income_group", "lending_category", "official_state_name", "internet_cc_TLD", "phone_code", "indicator_name","2022"]]
display(result_final)

,country,iso3,iso2_x,region,income_group,lending_category,official_state_name,internet_cc_TLD,phone_code,indicator_name,2022
0,AFGHANISTAN,AFG,AF,South Asia,Low income,IDA,The Islamic Republic of Afghanistan,.af,93,"PoblaciÃ³n, total",41128771.0
1,ALBANIA,ALB,AL,Europe & Central Asia,Upper middle income,IBRD,The Republic of Albania,.al,355,"PoblaciÃ³n, total",2775634.0
2,ALGERIA,DZA,DZ,Middle East & North Africa,Lower middle income,IBRD,The People's Democratic Republic of Algeria,.dz,213,"PoblaciÃ³n, total",44903225.0
3,ANGOLA,AGO,AO,Sub-Saharan Africa,Lower middle income,IBRD,The Republic of Angola,.ao,244,"PoblaciÃ³n, total",35588987.0
4,ANTIGUA AND BARBUDA,ATG,AG,Latin America & Caribbean,High income,IBRD,Antigua and Barbuda,.ag,1 268,"PoblaciÃ³n, total",93763.0
...,...,...,...,...,...,...,...,...,...,...,...
164,UZBEKISTAN,UZB,UZ,Europe & Central Asia,Lower middle income,Blend,The Republic of Uzbekistan,.uz,998,"PoblaciÃ³n, total",35648100.0
165,VIET NAM,VNM,VN,East Asia & Pacific,Lower middle income,IBRD,The Socialist Republic of Viet Nam,.vn,84,"PoblaciÃ³n, total",98186856.0
166,YEMEN,YEM,YE,Middle East & North Africa,Low income,IDA,The Republic of Yemen,.ye,967,"PoblaciÃ³n, total",33696614.0
167,ZAMBIA,ZMB,ZM,Sub-Saharan Africa,Lower middle income,IDA,The Republic of Zambia,.zm,260,"PoblaciÃ³n, total",20017675.0
168,ZIMBABWE,ZWE,ZW,Sub-Saharan Africa,Lower middle income,Blend,The Republic of Zimbabwe,.zw,263,"PoblaciÃ³n, total",16320537.0

In [38]:
result_final = result_final[["country","iso3","iso2_x","region", "income_group", "official_state_name", "internet_cc_TLD", "phone_code","2022"]]
display(result_final)

,country,iso3,iso2_x,region,income_group,official_state_name,internet_cc_TLD,phone_code,2022
0,AFGHANISTAN,AFG,AF,South Asia,Low income,The Islamic Republic of Afghanistan,.af,93,41128771.0
1,ALBANIA,ALB,AL,Europe & Central Asia,Upper middle income,The Republic of Albania,.al,355,2775634.0
2,ALGERIA,DZA,DZ,Middle East & North Africa,Lower middle income,The People's Democratic Republic of Algeria,.dz,213,44903225.0
3,ANGOLA,AGO,AO,Sub-Saharan Africa,Lower middle income,The Republic of Angola,.ao,244,35588987.0
4,ANTIGUA AND BARBUDA,ATG,AG,Latin America & Caribbean,High income,Antigua and Barbuda,.ag,1 268,93763.0
...,...,...,...,...,...,...,...,...,...
164,UZBEKISTAN,UZB,UZ,Europe & Central Asia,Lower middle income,The Republic of Uzbekistan,.uz,998,35648100.0
165,VIET NAM,VNM,VN,East Asia & Pacific,Lower middle income,The Socialist Republic of Viet Nam,.vn,84,98186856.0
166,YEMEN,YEM,YE,Middle East & North Africa,Low income,The Republic of Yemen,.ye,967,33696614.0
167,ZAMBIA,ZMB,ZM,Sub-Saharan Africa,Lower middle income,The Republic of Zambia,.zm,260,20017675.0
168,ZIMBABWE,ZWE,ZW,Sub-Saharan Africa,Lower middle income,The Republic of Zimbabwe,.zw,263,16320537.0