In [20]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\juanp\miniconda3\envs\myenv\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [21]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\juanp\miniconda3\envs\myenv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\juanp\miniconda3\envs\myenv\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import pandas as pd

In [23]:
df = pd.read_excel('C:\\ricardo_hernandez\\CLASS.xlsx')

In [24]:
display(df)

,Economy,Code,Region,Income group,Lending category
0,Aruba,ABW,Latin America & Caribbean,High income,NaN
1,Afghanistan,AFG,South Asia,Low income,IDA
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD
3,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD
4,Andorra,AND,Europe & Central Asia,High income,NaN
...,...,...,...,...,...
262,Sub-Saharan Africa,SSF,NaN,NaN,NaN
263,Sub-Saharan Africa (excluding high income),SSA,NaN,NaN,NaN
264,Sub-Saharan Africa (IDA & IBRD),TSS,NaN,NaN,NaN
265,Upper middle income,UMC,NaN,NaN,NaN
266,World,WLD,NaN,NaN,NaN